<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1><%= title %></h1>
  <p>Upload a photo to your account below.</p>
  <form method="post" enctype="multipart/form-data">
    <div class="row">
      <input type="text" name="photo[name]" placeholder="Name"/>
    </div>
    <div class="row">
      <input type="file" name="photo[image]"/>
    </div>
    <div class="row">
      <input type="submit" value="Upload">
    </div>
  </form>
</body>
</html>